<div class="container">
	<div class="jumbotron">
		<h1>Gestion de Productos</h1>
	</div>
</div>

{{#if flashError}}
	<p class="flashMessage text-center text-danger"><strong>{{flashError}}</strong></p>
{{/if}}